
body{
  background-image: url('./images/free.png');
  
}

.bigBox {
  background-color: aliceblue;
  margin: auto;
  padding: auto;
}

#about {
  

  height: 400px;
  margin-top: 5em;
  
  
}

.aboutH {
  text-decoration: underline;
  text-shadow: 3px 2px  orange;

}
.lead {
  font-size: 25px;
}

/* 
 */

 .register {
  margin: 8px 0 30px 130px;
 }
 #signin{
  margin: 8px 100px 30px 30px;
 }
 #signup{
  margin: 8px 100px 30px 30px;
 }
 .pass1 {
  width: 15%;
  font-size: 20px;
  height: 40px;
 }
 .pass2 {
  width: 30%;
  font-size: 15px;
  height: 40px;
 }
 .pass3 {
  width: 15%;
  font-size: 20px;
  height: 40px;
 }