<section class="selesec">	
		<div class="mainbox">
			<div class="calsec">
				<h1>Welcome {{user.firstname}}</h1>
				<form>
				 
				  <input type="text" data-userid="{{user.id}}" id="fname" placeholder="types of food">
				  <input type="submit"  id="submitFoodSearch">

				  <br>
				  <select id="food" name="food"></select>
				  <br>
				  <br>
				  <label for="Portions">Number of portions:</label>
				  <input type="text" id="Portions" name="lastname" placeholder="">
			       <input type="submit" value="Add">
				</form>
			  </div>
		</div>

        <div class="bottomleft">
			<h2> 
				Calories for the Day
			</h2>
      <h3>1000<span class="calTheDay"></span></h3>
			</div>
        
        <div class="bottomright">
			<h2> 
				Calories left for the Day
            </h2>
      <h3>1000<span class="calForDay"></span></h3>
		</div>
</section>
