{{!-- <h2>Dashboard</h2>
<h5>Hello, {{firstname}} {{lastname}}, you are logged in.</h5> --}}
<!-- Image and text -->
<!-- Image and text -->
<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img src="./images/apple-touch-icon.png" width="30" height="30" class="d-inline-block align-top" alt="">
    Food No More
  </a>
</nav>
<div class="container">

    <div class="row dashboardOne">


    </div>
    <div class="row dashboardTwo">

    </div>
    <div class="row dashboardThree">
    
     </div>

     <a href="/logout">Logout</a>

</div>