<section>	
		<div class="mainbox">
			<div class="calsec">
				<form action="/action_page.php">
				 
				  <input type="text" id="fname" name="firstname" placeholder="user types in food">
				  <input type="submit" value="Submit">
				  <br>
				  <select id="food" name="food"></select>
				  <br>
				  <br>
				  <label for="Portions">Number of portions:</label>
				  <input type="text" id="Portions" name="lastname" placeholder="">
			       <input type="submit" value="Add">
				</form>
			  </div>
		</div>
</section>	


<section>	
        <div class="bottomleft">
			<h2> 
				Calories for the Day
			</h2>
			</div>
        
        <div class="bottomright">
			<h2> 
				Calories left for the Day
            </h2>
		</div>
</section>
