
<section>
 <header class="bg-primary text-white">
    <div class="container text-center">
      <h1>Food N@ More</h1>
      <p class="lead">Track your Calories and stay in track towards a healthy life.</p>
    </div>
  </header>

  <section id="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2>About </h2>
          <p class="lead">Our website will help you keep track of your daily calorie input. Just make your daily calorie goals and input your food intake as you go. You'll be able to see how much you have eaten and how much you have left.</p>
          
        </div>
      </div>
    </div>
  </section>
