<section>
    <header class="bg-primary text-white">
        <div class="container text-center">
            <h1>Food N@ More</h1>
            <p class="lead">Signing up is easy! Just enter your email, first name, last name and your password then click Submit. </p>
            <form id="signup" name="signup" method="post" action="/signup">
                <label for="email">Email Address</label>
                <input class="text" id="email" name="email" type="email" />
                <label for="firstname">Firstname</label>
                <input name="firstname" id="firstName" type="text" />
                <br>
                <label for="lastname">Lastname</label>
                <input name="lastname" id="LastName" type="text" />
                <label for="password">Password</label>
                <input name="password" id="signUpPassword" type="password" />
                <br>
                <input class="btn" type="submit" id="signupSubmit" "value=" Sign Up" />
            </form>
        </div>
    </header>

</section>