

<section>
    <header class="bg-warning text-white">
        <div class="container text-center">
            <h1>Food N@ More</h1>
            <p class="lead">Enter your email id and password to log in.</p>
           <form id="signin" name="signin" method="post" action="signin">
               <br>
                <label class="pass1" for="email">Email Address</label>
                <input class="text pass2" name="email" type="text" />
                <br>
                <label class="pass1" for="password">Password</label>
                <input class="pass2" name="password" type="password" />
                <br>
                <input class="btn register" type="submit" value="Sign In" />
            </form>
        </div>
    </header>

</section>